@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E0C9;
    color: #0D0D0D;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(to right, #A67683, #40592E);
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    position: relative;
    text-decoration: none;
    color: #F2E0C9;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #FFD700;
}

main {
    padding: 20px;
}

#frase-de-efeito {
    color: #8C3746;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 8px rgba(140, 55, 71, 0.418);
    font-size: 1.1rem;
    text-align: center;
}

h1 {
    color:#40592E;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

.listagem-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px 0px;
}

.listagem-conteudo a {
    text-align: center;
    background-color:#530614;
    color: #F2E0C9;
   
    padding: 5px 12px;
    border-radius: 15px;
    transition: all 0.5s;
    font-weight: 400;
}

.listagem-conteudo a:hover {
    color: #0D0D0D;
    background-color: #FFD700;
}


h1{
    color: rgb(2, 53, 2);
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}

h3{
    color:#2f4023;
    padding: 15px 0;
}

.topicos{
    text-align:justify;
}

figure{
    margin-bottom: 15px;
    text-align: center;
}

figure img{
    border-radius: 20px;
    width: 280px;
    height: 250px;
}



.table-responsive{
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

table{
    border-collapse: collapse;
    
}

th{
    background-color: #50210f;
    color:#f8d68d;
    padding: 0.6rem;
}

td{
    background-color: #f0bd70;
    padding: 0.6rem;
}

table a{
    color:#2f4023;
    text-decoration: none;

}



#topo{
    padding-top: 20px;
}

#topo a{
    text-decoration: none;
    color:rgb(95, 67, 14);
}
#topo a:hover{

    color:rgb(8, 63, 8);
}



footer{
    background-color: bisque;
}

footer{
    background-color: #2f4023;
    color:#f8d68d;
    text-align: center;
    padding:20px 0px;
}



